/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
/*
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
*/
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
/*  max-width: 600px;*/
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-expense input {
  box-sizing: border-box;
  padding: 10px 10px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  padding-right: 80px;
  font-size: 1em;
  margin: 25px auto;
  display: inherit;
}
 
.new-expense input:focus{
/*  outline: 0;*/
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
/*  float: right;*/
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  margin:0;
}
 
li {
  position: relative;
  list-style: none;
  padding: 0 15px;
  border-bottom: #eee solid 1px;
  margin: 0;
/*  border:1px dashed lightgray;*/
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
} 
.toggle-private {
  margin-left: 5px;
  height: 16px;
  line-height: 0;
  padding: 5px;
}

.expense-properties {
  font-size: 11px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display:inline-block;
}
/*
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-expense input {
    padding-bottom: 5px;
  }
}
*/
/*
.expense-input {
  width: 90%;
  margin: 10px auto;
  display: inherit;
  padding: 10px;
}*/
#login-buttons {
  display:inline-block;
  float: right;
}
.update-expense {
  display: inline-block;
  width: 70%;
}
.update-expense input[type="text"],
.update-expense input[type="name"],
.update-expense input[type="sum"],
.update-expense input[type="tag"] {
  border: none;
  margin-bottom: 0;
  width:30%;
}
.update-expense input[type="text"]:focus,
.update-expense input[type="name"]:focus,
.update-expense input[type="sum"]:focus,
.update-expense input[type="tag"]:focus {
  outline:none;
  border: 1px solid #D1D1D1;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}